.navbar{
  padding-top: 10px;
  height: 40px;
  background-color: aquamarine;
  font-size: medium;
  font-weight: bolder;
  font-style: oblique;
}
.search{
  display: flex;
  justify-content: center;
  padding-top: 25px;


}

.cardArea{
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.errormessage{
  padding-top: 25px;
  display: flex;
  justify-content: center;
}